.searchbar  {
    background-color: rgb(168, 105, 226);
    width: 100%;
    text-align: center;
    height: 40px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    z-index: 9;
}
.searchbar i,p {
    line-height: 40px;
    margin: 0 4px 0 4px;
    font-size: 20px;
}
.news {
    margin-bottom: 20px;
}

.container-fluid {
    margtin-top: 60px;
}
.title {
    font-size: 20px;
    font-weight: 500;
}
.time {
    font-style: italic;
}


img {
    width: 100%;
    height: auto;
}

#model {
    display: none;
    position: fixed;
    top: 20vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    z-index: 15;
    background-color: white;
    height: fit-content;
}
.model-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    
}

.keys {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin: 10px 30px 10px 30px;
}

#keywords {
    width: 100%;
    margin: 5px 0 5px 0;
}
